<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pieciesoflife"
        tools:targetApi="31">
        <activity
            android:name=".Acitivity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".Acitivity.StartNewstoryAcitivity" android:exported="true"/>
        <activity android:name=".Acitivity.ChatActivity" android:exported="true"/>
        <activity android:name=".Acitivity.ChatSendActivity" android:exported="true"/>
        <activity android:name=".Acitivity.ExploreDetailedActivity" android:exported="true"/>
        <activity android:name=".Acitivity.MybookDetailedActivity" android:exported="true"/>
        <activity android:name=".Acitivity.NotiActivity" android:exported="true"/>
        <activity android:name=".Acitivity.SaveColorActivity" android:exported="true"/>
        <activity android:name=".Acitivity.SaveFinalActivity" android:exported="true"/>
        <activity android:name=".Acitivity.SaveIntroActivity" android:exported="true"/>
        <activity android:name=".Acitivity.SaveTitleActivity" android:exported="true"/>
        <activity android:name=".Acitivity.StoryWriteActivity" android:exported="true"/>
        <activity android:name=".Acitivity.TagAgeActivity" android:exported="true"/>
        <activity android:name=".Acitivity.TagMatterActivity" android:exported="true"/>
        <activity android:name=".Acitivity.TagMoodActivity" android:exported="true"/>
        <activity android:name=".Acitivity.TagObjectActivity" android:exported="true"/>
        <activity android:name=".Acitivity.TagPersonActivity" android:exported="true"/>
        <activity android:name=".Acitivity.TagPlaceActivity" android:exported="true"/>
        <activity android:name=".Acitivity.TagYearActivity" android:exported="true"/>
        <activity android:name=".Acitivity.DialogBottomAcitivity" android:exported="true" android:screenOrientation="portrait"
            android:theme="@style/round_dialog_activity"/>
        <activity android:name=".Acitivity.DialogColorActivity" android:exported="true" android:screenOrientation="portrait"
            android:theme="@style/round_dialog_activity"/>
        <activity android:name=".Acitivity.DialogColorConfirmActivity" android:exported="true" android:screenOrientation="portrait"
            android:theme="@style/round_dialog_activity"/>
        <activity android:name=".Acitivity.DialogDeleteActivity" android:exported="true" android:screenOrientation="portrait"
            android:theme="@style/round_dialog_activity"/>
        <activity android:name=".Acitivity.DialogDeleteConfirmActivity" android:exported="true" android:screenOrientation="portrait"
            android:theme="@style/round_dialog_activity"/>
        <activity android:name=".Acitivity.DialogPublicActivity" android:exported="true" android:screenOrientation="portrait"
            android:theme="@style/round_dialog_activity"/>
        <activity android:name=".Acitivity.DialogPublicConfirmActivity" android:exported="true" android:screenOrientation="portrait"
            android:theme="@style/round_dialog_activity"/>
        <activity android:name=".Acitivity.DialogStoryActivity" android:exported="true" android:screenOrientation="portrait"
            android:theme="@style/round_dialog_activity"/>
        <activity android:name=".Acitivity.DialogStoryConfirmActivity" android:exported="true" android:screenOrientation="portrait"
            android:theme="@style/round_dialog_activity"/>
        <activity android:name=".Acitivity.DialogUserEditActivity" android:exported="true" android:screenOrientation="portrait"
            android:theme="@style/round_dialog_activity"/>
        <activity android:name=".BottomNavBar.BottomNavBarActivity" android:exported="true"/>

    </application>

</manifest>